.summary {
    color: #808080;
    border-left: 5px solid #E50E51;
    font-size:16px;
}

body {
    background-color: #DDDDDD;
}

/*active {
    background-color: yellow;
}*/

:root{
    --foreground:#333333;
    --foreground2:#BC534B;
}
/* http://paletton.com/#uid=32I1a0kt+lZlOstrKqzzSiaJidt */
/* http://paletton.com/#uid=7030u0k006qjenBjenB006q006q */

h3 {color: #E50E51; }
h4 {color: #808080; }

.nav a:hover, .nav li.active > a {
    background-color: #BC534B;
    color: #f5f5f5;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #BC534B;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background-color: #248ec2;
    color: white;
}

.nav > li.active > a {
    background-color: var(--foreground);
}

.nav > li > a:hover {
    background-color: var(--foreground);
}

div.navbar-collapse .dropdown-menu > li > a:hover {
    background-color: var(--foreground);
}

.nav li.thirdlevel > a {
    background-color: #FAFAFA !important;
    color: var(--foreground);
    font-weight: bold;
}

a[data-toggle="tooltip"] {
    color: #345;
    font-style: italic;
    cursor: default;
}

.navbar-inverse {
    background-color: var(--foreground);
    border-color: var(--foreground2);
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: var(--foreground2);
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: var(--foreground2);
    color: #ffffff;
}

/* not sure if using this ...*/
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: var(--foreground) !important;
}

.btn-primary {
    color: #ffffff;
    background-color: var(--foreground2);
    border-color: var(--foreground2);
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-color: var(--foreground);
    border-color: var(--foreground2);
}

.printTitle {
    color: var(--foreground2) !important;
}

body.print h1 {color: var(--foreground2) !important; font-size:28px;}
body.print h2 {color: #595959 !important; font-size:24px;}
body.print h3 {color: #E50E51 !important; font-size:14px;}
body.print h4 {color: #679DCE !important; font-size:14px; font-style: italic;}

.anchorjs-link:hover {
    color: #cb8f06;
}

div.sidebarTitle {
    color: #E50E51;
}

li.sidebarTitle {
    margin-top:40px;
    font-weight:normal;
    font-size:130%;
    color: #ED1951;
    margin-bottom:10px;
    margin-left: 5px;

}