language: java
jdk:
  - oraclejdk8
  - oraclejdk7
  - openjdk7

install: mvn install -DskipTests=true

script: mvn test -Dskip.gui.tests=true



after_success:
  - test $TRAVIS_PULL_REQUEST == "false" && test $TRAVIS_BRANCH == "master" && bash deploy.sh
env:
  global:
    secure: "BNmSL7eqM5T2U94LVDArWadTZxL9M5S9XZTDg5DA9pwZwZzH+7ZgTcAfhmBJ0ql9YdVm5usmHKCT1HXXMwL0EfUkYbDSZmfn+uoXSvjgWjNmlU9zV0P1La+lPle878bWjbUev3qgjwpd1zRF1RwADolGQwowj35D8jl+E8DPPSQ="
