<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
    "-//Puppy Crawl//DTD Check Configuration 1.2//EN"
    "http://www.puppycrawl.com/dtds/configuration_1_2.dtd">

<module name="Checker">
	<!--module name="NewlineAtEndOfFile"/ -->
	<module name="FileLength" />
	<module name="FileTabCharacter" />

	<!-- Space after 'for' and 'if' -->
	<module name="RegexpSingleline">
		<property name="format" value="^\s*(for|if)[^ \w]" />
		<property name="message" value="Space needed before opening parenthesis." />
	</module>

	<!-- For each spacing -->
	<module name="RegexpSingleline">
		<property name="format" value="^\s*for \(.*?([^ ]:|:[^ ])" />
		<property name="message" value="Space needed around ':' character." />
	</module>


	<module name="JavadocPackage" />

	<module name="TreeWalker">
		<property name="cacheFile" value="${checkstyle.cache.file}" />

		<!-- Checks for Javadoc comments. -->
		<!-- See http://checkstyle.sf.net/config_javadoc.html -->
		<!--<module name="JavadocType"> <property name="scope" value="protected" 
			/> </module> <module name="JavadocMethod"> <property name="scope" value="protected" 
			/> </module> <module name="JavadocVariable"> <property name="scope" value="protected" 
			/> </module> -->
		<module name="NonEmptyAtclauseDescription" />
		<module name="JavadocStyle" />
		<module name="SingleLineJavadoc" />
		<module name="JavadocTagContinuationIndentation">
			<property name="offset" value="2" />
		</module>
		<module name="AtclauseOrder">
			<!-- <property name="tagOrder" value="@version, @param, @return, @throws, 
				@exception, @see, @serial, @serialField, @serialData, @deprecated, @author, 
				@since" /> -->
		</module>


		<!-- Checks for Naming Conventions. -->
		<!-- See http://checkstyle.sf.net/config_naming.html -->
		<module name="ConstantName" />
		<module name="LocalFinalVariableName" />
		<module name="LocalVariableName" />
		<module name="MemberName" />
		<module name="MethodName" />
		<module name="PackageName" />
		<module name="ParameterName" />
		<module name="StaticVariableName" />
		<module name="TypeName" />


		<!-- Checks for imports -->
		<!-- See http://checkstyle.sf.net/config_import.html -->
		<module name="AvoidStarImport" />
		<module name="IllegalImport" /> <!-- defaults to sun.* packages -->
		<module name="RedundantImport" />
		<module name="UnusedImports">
			<property name="processJavadoc" value="true" />
		</module>


		<!-- Checks for Size Violations. -->
		<!-- See http://checkstyle.sf.net/config_sizes.html -->
		<module name="LineLength">
			<property name="max" value="80" />
			<!-- Regular expression that ignores: variable, method and class declarations 
				with at least two generic types, import statements, or comments with an @link 
				statement -->
			<property name="ignorePattern"
				value="(^import|^.*>+.*(>+.*[;\(\{]$|$)|^ +\* +\{@link .*\}$)" />
		</module>
		<module name="MethodLength" />
		<!--module name="ParameterNumber"/ -->


		<!-- Checks for whitespace -->
		<!-- See http://checkstyle.sf.net/config_whitespace.html -->
		<module name="GenericWhitespace" />
		<module name="EmptyForIteratorPad" />
		<module name="MethodParamPad" />
		<module name="NoWhitespaceAfter" />
		<module name="NoWhitespaceBefore" />
		<module name="OperatorWrap" />
		<module name="ParenPad" />
		<module name="TypecastParenPad" />
		<module name="WhitespaceAfter" />
		<module name="WhitespaceAround">
			<property name="allowEmptyConstructors" value="true" />
			<property name="allowEmptyMethods" value="true" />
			<property name="allowEmptyTypes" value="true" />
		</module>


		<!-- Modifier Checks -->
		<!-- See http://checkstyle.sf.net/config_modifiers.html -->
		<module name="ModifierOrder" />
		<module name="RedundantModifier" />


		<!-- Checks for blocks. You know, those {}'s -->
		<!-- See http://checkstyle.sf.net/config_blocks.html -->
		<module name="AvoidNestedBlocks" />
		<module name="EmptyBlock">
			<property name="option" value="text" />
		</module>
		<module name="EmptyCatchBlock" />
		<module name="LeftCurly" />
		<module name="NeedBraces" />
		<module name="RightCurly" />


		<!-- Checks for common coding problems -->
		<!-- See http://checkstyle.sf.net/config_coding.html -->
		<!--module name="AvoidInlineConditionals"/ -->
		<module name="CovariantEquals" />
		<module name="EmptyStatement" />
		<module name="EqualsAvoidNull" />
		<module name="EqualsHashCode" />
		<module name="FinalLocalVariable" />
		<module name="HiddenField" />
		<module name="IllegalInstantiation" />
		<module name="IllegalToken" />
		<module name="MagicNumber" />
		<module name="MissingSwitchDefault" />
		<module name="ModifiedControlVariable" />
		<module name="SimplifyBooleanExpression" />
		<module name="SimplifyBooleanReturn" />
		<module name="StringLiteralEquality" />
		<module name="NoClone" />
		<module name="NoFinalizer" />
		<module name="IllegalThrows" />
		<module name="PackageDeclaration" />
		<module name="DeclarationOrder" />
		<module name="ParameterAssignment" />
		<module name="ExplicitInitialization" />
		<module name="DefaultComesLast" />
		<module name="MissingCtor" />
		<module name="FallThrough" />
		<module name="MultipleStringLiterals" />
		<module name="MultipleVariableDeclarations" />
		<module name="UnnecessaryParentheses" />
		<module name="OneStatementPerLine" />



		<!-- Checks for class design -->
		<!-- See http://checkstyle.sf.net/config_design.html -->
		<!--module name="VisibilityModifier"/ -->
		<module name="FinalClass" />
		<module name="InterfaceIsType" />
		<module name="HideUtilityClassConstructor" />
		<!-- <module name="DesignForExtension"/> -->
		<module name="MutableException" />
		<module name="InnerTypeLast" />
		<module name="OneTopLevelClass" />


		<!-- Miscellaneous other checks. -->
		<!-- See http://checkstyle.sf.net/config_misc.html -->
		<module name="UncommentedMain">
			<property name="excludedClasses" value=".*(Demo|Example)$" />
		</module>
		<module name="UpperEll" />
		<module name="ArrayTypeStyle" />
		<module name="TrailingComment" />
		<module name="OuterTypeFilename" />
		<module name="AvoidEscapedUnicodeCharacters" />

		<!-- Enable suppression later -->
		<module name="FileContentsHolder" />
	</module>

	<!-- Allow suppression via comments -->
	<module name="SuppressionCommentFilter" />
</module>