<configuration>
	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>rinsim-pdptw.log</file>
		<append>false</append>
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder 
			by default -->
		<encoder>
			<pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<root level="WARN">
		<appender-ref ref="FILE" />
	</root>
</configuration>
